<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="libra"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> Thư Viện
      </div> <!-- / .current-page -->

      <section id="ccr-category-1">


        <div class="ccr-category-featured">
          <% @cauthu.each do |cauthu| %>
              <ul class="ccr-category-post">
              <li>
          <div class="ccr-thumbnail">
            <img src="<%= cauthu.photo%>" alt="Thumb">
          </div>
          <article>
            <h4>
              <a href="<%= Pathname(home_libra1_path(cauthu.id))%>"><%= cauthu.title %></a>
            </h4>
                <p><%= cauthu.description %></p>
            <div class="like-comment-readmore">
                <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
              <a href="#"  class="comments"><i class="fa fa-comments-o"></i> 49</a>
              <a class="read-more" href="<%= Pathname(home_libra1_path(cauthu.id))%>">Read More</a>
            </div>
<!-- /.like-comment-readmore -->
          </article>
              </li>
              </ul>
          <% end %>
        </div> <!-- /#ccr-category-featured -->

      </section> <!-- / #ccr-category -->

    </section><!-- /.col-md-8 / #ccr-left-section -->



    <aside id="ccr-right-section" class="col-md-4">


      <section id="ccr-calender">

        <table id="calendar">
          <caption >February 2014</caption>
          <thead data-iceapc="1">
          <tr>
            <th scope="col" title="Monday">M</th>
            <th scope="col" title="Tuesday">T</th>
            <th scope="col" title="Wednesday">W</th>
            <th scope="col" title="Thursday">T</th>
            <th scope="col" title="Friday">F</th>
            <th scope="col" title="Saturday">S</th>
            <th scope="col" title="Sunday">S</th>
          </tr>
          </thead>

          <tfoot data-iceapc="4">
          <tr data-iceapc="3">
            <td colspan="3" id="prev"><a href="#" title="Previous">&laquo; Jan</a></td>
            <td class="pad">&nbsp;</td>
            <td colspan="3" id="next" class="pad"><a href="#" title="Next">Mar &raquo;</a></td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td></td><td></td><td></td><td></td><td></td><td>1</td><td >2</td>
          </tr>
          <tr>
            <td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td>
          </tr>
          <tr>
            <td>10</td><td>11</td><td>12</td><td>13</td><td><a href="#" title="Post">14</a></td><td>15</td><td>16</td>
          </tr>
          <tr>
            <td>17</td><td id="today">18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td>
          </tr>
          <tr>
            <td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
            <td></td><td></td>
          </tr>
          </tbody>
        </table>

      </section>



      <section id="ccr-sidebar-newslater">

        <div class="ccr-gallery-ttile">
          <span></span>
          <p><label for="sb-newslater"><strong>Newslater</strong></label></p>
        </div> <!-- .ccr-gallery-ttile -->

        <div class="sidebar-newslater-form">
          <form class="ccr-gallery-ttile" action="#">
            <input type="email" id="sb-newslater" name="sb-newslater" placeholder="Enter your email address" required>
            <button type="submit">Subscribe</button>

          </form>
        </div> <!-- /.sidebar-newslater-form -->

      </section> <!-- /#ccr-sidebar-newslater -->

      <section id="ccr-find-on-fb">
        <div class="find-fb-title">
          <span><i class="fa fa-facebook"></i></span> Find us on Facebook
        </div> <!-- /.find-fb-title -->
        <div class="find-on-fb-body">

          <div class="fb-like-box" data-href="https://www.facebook.com/codexcoderltd/" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>

        </div> <!-- /.find-on-fb-body -->
      </section> <!-- /#ccr-find-on-fb -->


    </aside><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->