<header id="ccr-header">
  <section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
        <nav class="top-menu">
          <ul class="left-top-menu">
            <li><a href="<%= Pathname(home_index_path)%>">Home</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="<%= Pathname(home_contact_path)%>">Liên_Hệ</a></li>
          </ul><!-- /.left-top-menu -->

          <ul class="right-top-menu pull-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Subscribe</a></li>
            <li>
              <form class="form-inline" role="form" action="#">
                <input type="search" placeholder="Search here..." required>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li>
          </ul> <!--  /.right-top-menu -->
        </nav> <!-- /.top-menu -->
      </div>
    </div>
  </section> <!--  /#ccr-nav-top  -->



  <section id="ccr-site-title">
    <div class="container">
      <div class="site-logo">
        <a href="<%= Pathname(home_index_path) %>">
          <%= image_tag("logo.png", :alt => "Logo") %>
          <h1>Serie <span>A</span></h1>
          <h3>Telecom Italia</h3>
        </a>
      </div> <!-- / .navbar-header -->

      <div class="add-space">
        <%= image_tag("banner.png", :alt => "banner") %>
      </div> <!-- / .adspace -->

    </div>	<!-- /.container -->
  </section> <!-- / #ccr-site-title -->



  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><a class="active" href="<%= Pathname(home_index_path)%>">Trang Chủ</a></li>
            <li class="dropdown">
              <a href="<%= Pathname(home_news_path)%>">Tin Tức</a>
            </li><!-- /.dropdown -->

            <li><a href="<%= Pathname(home_contact_path)%>">Liên_Hệ</a></li>
            <li class="dropdown"><a href="<%= Pathname(home_libra_path)%>">Thư Viện</a>
            </li><!--  /.dropdown -->
          </ul> <!-- /  .nav -->
        </div><!-- /  .collapse .navbar-collapse  -->

        <div id="txt" class="pull-right current-time">
        </div><!-- / #currentTime -->

      </div>	<!-- /.container -->
    </nav> <!-- /.main-menu -->
  </section> <!-- / #ccr-nav-main -->



  <section id="ccr-nav-below-main">
    <nav class="second-menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
            <i class="fa fa-bars"></i>
          </button> <!-- /.navbar-toggle -->
        </div> <!-- / .navbar-header -->



        <div class="ccr-language">
          <ul>
            <li>Language:</li>
            <li><a href="#"><%= image_tag("uk.png", :alt => "UK") %>English</a></li>
            <li><a href="#"><%= image_tag("france.png", :alt => "France") %>France</a></li><li>
            <a href="#"><%= image_tag("garman.png", :alt => "Garman") %>Garman</a></li>
          </ul>
        </div> <!-- /.ccr-language -->
      </div><!-- /.container -->
    </nav><!-- /.second-menu -->
  </section><!-- / #ccr-nav-below-main -->

</header> <!-- /#ccr-header -->
